@import "tailwindcss";

@theme {
  --breakpoint-mobile-nav: 200px;
  --breakpoint-tablet-nav: 640px;
  --breakpoint-laptop-nav: 820px;
}

/* .accueil-bg-magic {
  background-image: repeating-linear-gradient(
      45deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 10px,
      transparent 10px,
      transparent 11px
    ),
    repeating-linear-gradient(
      135deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 10px,
      transparent 10px,
      transparent 11px
    ),
    linear-gradient(90deg, hsl(256, 7%, 84%), hsl(256, 7%, 84%));
} */

.accueil-bg-magic {
  background-image: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.5) 0px,
      rgba(255, 255, 255, 0.5) 10px,
      transparent 10px,
      transparent 11px
    ),
    repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.5) 0px,
      rgba(255, 255, 255, 0.5) 10px,
      transparent 10px,
      transparent 11px
    ),
    linear-gradient(90deg, hsl(210, 60%, 85%), hsl(210, 60%, 70%));
}
